body {
    font-family: "EVText", sans-serif;
  }
  
  h1,h2,h3 {
      font-family: "EVHead", sans-serif;
  }
  
  .swiper-slide, .classes_widget, .catalog_boxes, .site_full_width, .catalog_boxes > .draggable, .rightColumn, .class_desktop_filter_holder, .sticky, .block, .options_btn, .optionsRight {
      border:0!important;
      border-radius: 0px!important;
  }
  
  .imgCrop {
    border-radius: 0px;
  }
  
  #mainContent, #contentWrap {
    background: ;
    color: white;
  }
  
  .headerVideo {
    position: relative; 
    padding-top: 56.25%; 
    overflow: hidden;
  }
  
  .headerVideo > iframe {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: none; 
    pointer-events: none;
  }
  
  
  .catalog_boxes:not(.app_boxes):not(.dashboard_widgets) > *:not(.no_hover), .user_boxes > a, .modern_module_row > td, .modern_module_row > td > a {
  box-shadow: none!important;
  }
  
  .rightColumn {
    display: none;
  }
  
  .widget_panel_edit {
      display: none;
  }
  
  .swiper-slide > .fiveBlocks {
    display:none;
  }

  .widget_panel_edit { 
    display:none;
  }