@media (min-width: 768px) {
  body {
    font-family: "EVText", sans-serif;
  }

  h1, h2, h3 {
    font-family: "EVHead", sans-serif;
  }

  .swiper-slide, .classes_widget, .catalog_boxes, .site_full_width, .catalog_boxes > .draggable, 
  .rightColumn, .class_desktop_filter_holder, .sticky, .block, .options_btn, .optionsRight, 
  .img_holder > .img, .profile_header_nav, .profile_header .profile_background, 
  .catalog_boxes > *, .default_image, .r-catalog-tile, 
  .modern_module_list, .modern_module_list > table, 
  .modern_module_list > table > .modern_module_wrap > .imgCrop, 
  tbody.highlightLesson .modern_module_row ~ tr:last-of-type td, 
  .imgCrop {
    border: 0 !important;
    border-radius: 0 !important;
  }

  #mainContent, #contentWrap {
    color: white;
  }

  .headerVideo {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  }

  .headerVideo > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
  }

  .catalog_boxes:not(.app_boxes):not(.dashboard_widgets) > *:not(.no_hover), 
  .user_boxes > a, 
  .modern_module_row > td, 
  .modern_module_row > td > a {
    box-shadow: none !important;
  }

  .rightColumn, .swiper-slide > .fiveBlocks, .calendar_btn {
    display: none !important;
  }

  .profile_background {
    background: #F8F5F0 !important;
  }

  .profile_name {
    color: black !important;
  }

  table {
    border-spacing: 0 !important;
  }

  .modern_module_list, .modern_module_list > table {
    margin: 10px 0 20px !important;
  }

  .profile_header .label.box {
    color: black;
    padding: 10px;
    margin: 5px;
  }

  .catalog_item .profile_header .profile_info .alignR .link_button {
    border-radius: 0 !important;
  }

  #user-menu, #user-menu > ol, #user-menu::before, header .mobileSearch {
    display: none !important;
    visibility: hidden !important;
  }

  .searchHolder .search {
    color: black;
  }

  .leftColumn {
    width: 100% !important;
  }

  #wrapper > header > div.quickLinks > a.username > span {
    color: black;
  }

  .ja1-has-dropdown > a::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%%23000000' height='800px' width='800px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 407.437 407.437' xml:space='preserve'%3E%3Cpolygon points='386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .ja1-has-dropdown > a:hover::after {
    transform: rotate(180deg);
  }

  #mainContent {
    width: 90%;
    margin: auto;
  }

  #leftColumn {
    display: none;
  }

  #wrapper > footer {
    left: 0;
    width: 100%;
  }

  .quickLinks {
    margin: auto;
  }

  .sectionTitle {
    overflow: visible !important;
  }

  .ja1-header {
    background-color: #fff;
    margin: auto;
  }

  .ja1-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .ja1-menu,
  .ja1-menu-items,
  .ja1-dropdown {
    list-style-type: none;
  }

  .ja1-menu {
    display: flex;
    align-items: center;
  }

  .ja1-menu > li {
    margin-right: 20px;
  }

  .ja1-menu > li > a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
  }

  .ja1-menu > li > a:hover {
    background-color: #444;
  }

  .ja1-menu-toggle {
    display: none;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }

  .ja1-menu-items {
    display: flex;
    align-items: center;
  }

  .ja1-menu-items li {
    position: relative;
    margin-right: 20px;
  }

  .ja1-menu-items > li > a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  .ja1-menu-items > li > a:hover {
    color: #D10302;
  }

  .ja1-header {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    z-index: 10;
  }

  .ja1-logo img {
    max-height: 50px;
    width: auto;
  }

  .ja1-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 5px 0;
  }

  .ja1-dropdown li a {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    display: block;
    white-space: nowrap;
  }

  .ja1-dropdown li a:hover {
    background-color: #fff;
    color: #D10302;
  }

  .ja1-menu-items > li:hover .ja1-dropdown {
    display: block;
  }

  .ja1-video-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: calc(500 / 1600 * 100%);
  }

  .ja1-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .link_button {
    background-color: #E60000 !important;
  }

  #submit_button {
    background: #E60000;
    border-radius: 0 !important;
    color: black;
  }

  #loginForm, .avatar, .img_holder, .img, .dropDown, .dDownShow {
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  .staticMainNav {
    display: none;
  }
}
